<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hangman</title>
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Questrial" rel="stylesheet">
  </head>
  <body>
    <h1>Hangman</h1>
    <div class="index-container">
      <div class="diff-container">
        <a href="/easy">
          <h2>Easy</h2>
        </a>
      </div>
      <div class="diff-container">
        <a href="/normal">
          <h2>Normal</h2>
        </a>
      </div>
      <div class="diff-container">
        <a href="/hard">
          <h2>Hard</h2>
        </a>
      </div>
    </div>
  </body>
</html>
