<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Nunito|Questrial" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <h1>You lose</h1>
    <h2 class="play-again"><a href="/">Play Again</a></h2>
  </body>
</html>
